.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 200px;
}

@media screen and (max-width: 755px){
    .section {
        flex-direction: column;
    }
}